.likeWrapper {
  background-color: var(--white);
  border-radius: 50%;
  height: 52px;
  width: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.like_active {
  fill: var(--red);
}
.like_inactive {
  fill: var(--black);
}
