.card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: min-content;
}

.imageWrapper {
  position: relative;
  width: auto;
  height: 640px;
  width: 600px;
}

.image {
  object-fit: cover;
  border-radius: 20px;
}

.name {
  font-size: 30px;
}
.badgeWrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.content {
  border: 2px solid var(--main);
  padding: 20px;
  border-radius: 20px;
  background-color: rgba($color: white, $alpha: 0.6);
}
