.link {
  text-decoration: none;
  color: inherit;
}
.imageWrapper {
  position: relative;
  height: 100px;
  min-width: 100px;
}

.image {
  object-fit: cover;
  border-radius: 20px;
}

.name {
  font-size: 30px;
}

.content {
  padding: 20px;
  border-radius: 20px;
  background-color: var(--main-light);
  display: flex;
  flex-direction: row ;
  gap: 20px;
}

.name {
  font-size: 24px;
}
