.title {
    font-size: 50px;
    margin-bottom: 20px;
    display: inline-block;
    border-bottom: 2px solid var(--main);
}
.randomMealCarouselSection {
    width: 1900px;
    margin-left: 0;
    margin-right: 0;
    position: relative;
    right: 250px;
    margin-bottom: 30px;
}