.navigation {
  height: 113px;
  display: flex;
  align-items: center;
  gap: 80px;
  padding: 0 135px;
  font-size: 24px;
  border-radius: 0px 0px 60px 60px;
background: rgba(242, 255, 196, 0.86);
backdrop-filter: blur(2px);
}

.link {
  text-decoration: none;
  color: inherit;
}
.linkWrapper {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    width: 0;
    height: 3px;
    bottom: -3px;
    background-color: var(--main);
    transition-duration: 0.5s;
    transition-property: width, left;
    transition-timing-function: ease;
  }

  &:hover::before {
    width: 100%;
    left: 0%;
  }
}
.logoWrapper {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    width: 0;
    height: 3px;
    bottom: 0;
    background-color: var(--main);
    transition-duration: 0.5s;
    transition-property: width, left;
    transition-timing-function: ease;
  }

  &:hover::before {
    width: 100%;
    left: 0%;
  }
}