.navigation {
  height: 113px;
  display: flex;
  align-items: center;
  gap: 80px;
  background-color: var(--main-light);
  padding: 0 135px;
  font-size: 24px;
  background: rgba(255, 255, 255, 0.76);
  backdrop-filter: blur(2px);

}
.link {
  text-decoration: none;
  color: inherit;
}
.linkWrapper:hover {
  border-bottom: 2px solid var(--black);
}
