.mealCard {
  background-color: var(--gray);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1712px;
  height: 290px;
  align-items: center;

  &:hover {
    background-color: var(--main);
  }
}

.like {
  padding-left: 54px;
  padding-right: 54px;
}

.barrier {
  width: 1px;
  height: 174px;
  background-color: var(--gray2);
}

.contentWrapper {
  display: flex;
  flex-direction: row;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 60%;
  padding-left: 54px;
  padding-right: 54px;
}

.link {
  text-decoration: none;
  color: inherit;
}

.name {
  font-size: 40px;
}

.badgeWrapper {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.imageWrapper {
  position: relative;
  width: 580px;
  height: 290px;
}

.image {
  object-fit: cover;
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
}
