.header {
  z-index: 1;
}
.link {
  text-decoration: none;
  color: inherit;
}
.contentWrapper {
  display: flex;
  gap: 10px;
}
.content {
  border: 2px solid var(--main);
  border-radius: 20px;
  height: 80px;
  align-content: center;
  background-color: var(--main-light);
  padding: 0 20px;
  position: relative;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

// .countLike {
//   background-color: var(--main);
//   width: 30px;
//   height: 30px;
//   border-radius: 50%;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   position: absolute;
//   left: 30px;
//   top: 38px;
// }
