.header {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainBackground {
  background-image: url("/images/main-background.png");
  height: 995px;
  width: 1900px;
  position: relative;
  top: -113px;
  z-index: -1;
}

.mainContent {
  display: flex;
  flex-direction: column;
  gap: 62px;
  position: absolute;
  top: 243px;
  left: 114px;
  max-width: 642px;
}

.text {
  color: var(--white);
  font-size: 24px;
}
