.footer {
  height: 316px;
  width: 1712px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  background-color: var(--gray);
  padding: 54px 54px 16px 54px;
  display: grid;
  grid-template-columns: 360px 440px 580px auto;
  grid-template-rows: 164px 58px;
  row-gap: 24px;
  justify-content: start;
  align-items: start;
  font-size: 22px;
  line-height: 130%;
  font-family: var(--font-poppins), sans-serif;
  font-style: normal;
  margin-top: auto;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.link {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.markets {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.copyright {
  opacity: 50%;
}

.logoContainer {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  column-gap: 3px;
  cursor: pointer;
  justify-items: start;
  background: none;
  border: none;
}
