.cardWrapper {
  // height: 300px;
}

.card {
  height: 239px;
  width: 398px;
  border-bottom-right-radius: 60px;
  border-bottom-left-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  position: relative;
  z-index: 2;
}

.link {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.name {
  color: var(--white);
  font-size: 32px;
}

.descriptionWrapper {
  width: 398px;
  height: auto;
  padding: 10px;
  background-color: var(--gray);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom-right-radius: 60px;
  border-bottom-left-radius: 60px;
  position: relative;
  transform: translateY(
    calc(239px + var(--description-height))
  );
  //  transform: translateY( - var(--description-height));
  z-index: 1;
  word-wrap: break-word;
}

.description {
  padding-bottom: 50px;
  padding-top: 50px;
  overflow: hidden;
}

.descriptionWrapper:hover {
  transition: all ease-in 0.5s;
  transform: translateY(-50px);
  height: auto;
}

.barrier {
  height: 4px;
  width: 144px;
  border-radius: 67px;
  background-color: var(--gray2);
  position: absolute;
  bottom: 8px;
}
