.cardWrapper {
  width: 398px;
  height: 310px;
  transition:
    z-index 0.3s ease-in-out,
    transform 0.3s ease-in-out;
}

.cardWrapperHovered_true {
  z-index: 1000;
  transform: scale(1.05);
}

.descriptionWrapper {
  width: 100%;
  min-height: 100px;
  background-color: var(--gray);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom-right-radius: 60px;
  border-bottom-left-radius: 60px;
  position: relative;
  top: -70px;
  transition: all 0.3s ease-in-out;
}

.descriptionWrapperHovered_true {
  max-height: 1000px;
}

.card {
  height: 239px;
  width: 398px;
  border-bottom-right-radius: 60px;
  border-bottom-left-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
  z-index: 2;

  &:hover {
    transform: scale(1.05);
    z-index: 999;
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
  }
}

.link {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.name {
  position: relative;
  z-index: 2;
  color: var(--white);
  font-size: 32px;
}

.description {
  padding: 80px 20px 40px;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition:
    opacity 0.3s ease-in-out,
    max-height 0.3s ease-in-out;
}

.descriptionWrapper:hover > .description {
  max-height: 1000px;
  opacity: 1;
}

.barrier {
  height: 4px;
  width: 120px;
  border-radius: 67px;
  background-color: var(--gray2);
  position: absolute;
  bottom: 12px;
}
