.content {
  border: 2px solid var(--main);
  border-radius: 20px;
  height: 80px;
  align-content: center;
  background-color: var(--main-light);
  padding: 0 20px;
  position: relative;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.search_active {
  display: flex;
  gap: 10px;
  min-width: 500px;
  align-items: center;
  z-index: 999;
}

.inputSearch {
  background-color: white;
  border-radius: 20px;
  height: 40px;
  width: 100%;
  padding: 0 15px;
  border: 2px solid var(--main);
}

.inputSearch:focus {
  outline: none;
}

.overlayPopup {
  background-color: black;
  opacity: 10%;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 998;
}

.contentPopup {
  border: 2px solid var(--main);
  border-radius: 20px;
  position: absolute;
  top: 135px;
  z-index: 999;
  background-color: var(--main-light);
  padding: 0 20px;
  width: 500px;
}
