.link {
  text-decoration: none;
  color: inherit;
}

.likeWrapper {
  position: absolute;
  top: 16px;
  right: 26px;
  z-index: 1;
}

.imageWrapper {
  position: relative;
  height: 458px;
  width: 543px;
}

.image {
  object-fit: cover;
}

.content {
  padding: 24px 24px 12px 24px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 112px;
  background: rgba(255, 255, 255, 0.89);
  backdrop-filter: blur(4px);
}

.name {
  font-size: 24px;
  margin-bottom: 5px;
}

.information {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.badgeWrapper {
  display: flex;
  flex-direction: row;
  gap: 3px;
}
