.link {
    text-decoration: none;
  color: inherit;
}

.likeWrapper {
  position: relative;
  bottom: 790px;
  left: 530px;
  z-index: 1;
}

.imageWrapper {
  position: relative;
  width: auto;
  height: 640px;
  width: 600px;
}

.image {
  object-fit: cover;
  border-radius: 20px;
}

.name {
  font-size: 30px;
}
.badgeWrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.content {
  border: 2px solid var(--main);
  padding: 20px;
  border-radius: 20px;
  position: relative;
  margin: 20px;
  bottom: 170px;
  background-color: rgba($color: white, $alpha: 0.6);
}